/* style.css */

body {
    font-family: Arial, sans-serif;
    /* line-height: 1.6; */
    color: #333;
    /* padding: 20px; */
}


body nav {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    /* padding: 20px 0; */
}

.carousel-item {
    transition-duration: 5s;
}

.custom-card {
    border: 1px solid #0719a1a2;
    margin-bottom: 10px;
}

.custom-container {
    border: 1px solid #e8e9f1a2;
    padding: 10px;
}

.carousel-item {
    transition-duration: 5s;
}

custom-img {
    max-width: 25%;
    height: auto;
}

.participant-img {
    width: 70%;
    height: 100px;
    object-fit: cover;
}

.imgPuc-wider {
    width: 100%;
    /* Ajuste este valor conforme necessário */
}

.img-margin-top {
    margin-top: 10px;
    /* Ajuste este valor conforme necessário */
}

.carousel-item img {
    height: 200px;
    object-fit: cover;
}

.card-img-top {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.card-img-top:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Estilo padrão para imagens clicáveis dentro dos cards */
.card-img-top {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

/* Estilo ao passar o mouse sobre a imagem, para dar o efeito "clicável" */
.card-img-top:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho da imagem */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Adiciona sombra para efeito de "levantamento" */
}
/* Estilo padrão para telas maiores, ocultamos o hífen */
.navbar-brand .navbar-title-break {
    display: none;
}

/* Estilo para telas menores */
@media screen and (max-width: 768px) {
    .navbar-brand .navbar-title-break {
        display: block; /* faz o hífen aparecer e quebrar a linha */
        content: '-'; /* este é o conteúdo que queremos inserir, ou seja, um hífen */
        margin: 0 auto; /* isso centrará o hífen se for necessário */
    }
}

* {box-sizing:border-box}



